body{
    background-image: url(../Images/background1.jpg);
}

header{
    text-align: center;
}

header > img{
    max-width: 100%;
}

ul {
    list-style-type:none;
    text-align: center;
}

/* li {
    border: 5px solid black;
} */

li > a {
    color: black;
    background-color:rgb(223, 230, 233);			
    text-align:center;
    width: 150px;	
    padding: 15px 0;		
    display: block;
    text-decoration: none;
    font-size: 20px;
    border: 5px solid black;
}

nav{
    margin: 10px;
}

section{
    background-color: aliceblue;
    width: auto;
    text-align: center;
    border: 2px solid black;
}

section > img{
    max-width: 100%;
}

h3 {
    color: blue;
    font-size: 20px;
}

.float{
    float: right;
}

.float > div{
    padding: 10px;
    background-color: darkgrey;
    margin: 10px;
    text-align: center;
}

div > a{
    text-decoration: none;
    color: black;
}