body{
    background-image: url(../Images/background1.jpg);
    margin: 0;
}

body > img{
    width: 100%;
}

header{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    border: 5px solid black;
    margin: 5px;
}

li > a {
    background-color:rgb(223, 230, 233);			
    text-align:center;
    width: 150px;	
    padding: 15px 0;		
    display: block;
    text-decoration: none;
    font-size: 20px;
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    text-align: center;
    width: 250px;
    margin: 10px;
    background-color: rgb(214, 211, 211);
    padding: 10px;
}

section > img{
    width: 100%;
}

section > div{
    border: 2px solid black;
    border-radius: 10px;
}

i{
    padding: 5px;
}

section > div:hover {color: aqua;}

.snizenje{
    text-decoration: line-through;
}

.nova_cijena, .popust{
    color: red;
}